<div class="card mb-3" style="max-width: 100%; max-height: 100%; margin: 50px; padding: 50px;">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nome</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Digite seu nome">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Telefone</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="(00) 0 0000-0000">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput3" class="form-label">E-mail</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="email@mailinator.com">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput4" class="form-label">Assunto</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Sobre o'que você deseja falar?">
    </div>
    <div class="mb-3">
        <label for="formControlTextarea1" class="form-label">Mensagem</label>
        <textarea class="form-control" id="formControlTextarea1" rows="5"></textarea>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</div>

